<html>
  <head>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    >
  <title>Error</title>
  </head>
  <body>
    <div class="container">
      <!-- <nav class="level"> -->
        <!-- <div class="level-item"> -->
          <div class="notification is-danger">
            <p>{{error}}</p>
          </div>
          <div>
            <a class="button" href="/mod">Go Back</a>
          </div>
        <!-- </div> -->
      <!-- </nav> -->
    </div>
  </body>
</html>